<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>37575965648-pl14io7ou13igio4jj2mi0qgu5ujm8h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37575965648-pl14io7ou13igio4jj2mi0qgu5ujm8h6</string>
	<key>API_KEY</key>
	<string>AIzaSyDA5dCMe__fjznjdEsgD_Byc0PFGNk4Jlw</string>
	<key>GCM_SENDER_ID</key>
	<string>37575965648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.scu.Book-My-Appointment</string>
	<key>PROJECT_ID</key>
	<string>book-my-appointment-395e1</string>
	<key>STORAGE_BUCKET</key>
	<string>book-my-appointment-395e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:37575965648:ios:1a52dc009ad93f58</string>
	<key>DATABASE_URL</key>
	<string>https://book-my-appointment-395e1.firebaseio.com</string>
</dict>
</plist>